:root {
  --giscus-bg-color: #192734; /* 배경 색상 */
  --giscus-text-color: #adbac7; /* 기본 텍스트 색상 */
  --giscus-link-color: #539bf5; /* 링크 색상 */
  --giscus-border-color: #444c56; /* 테두리 색상 */
  --giscus-muted-color: #768390; /* 뮤트된 텍스트 색상 */
  --giscus-highlight-color: #316dca; /* 하이라이트 색상 */
  --giscus-button-bg-color: #347d39; /* 버튼 배경 색상 */
  --giscus-button-text-color: #ffffff; /* 버튼 텍스트 색상 */
  --giscus-button-bg-color-hover: #46954a; /* 버튼 호버 배경 색상 */
  --giscus-button-bg-color-active: #347d39; /* 버튼 활성화 배경 색상 */
  --giscus-bg-color-hover: #253341; /* 배경 호버 색상 */
}

.giscus-frame[data-theme='custom'] {
  --color-bg: var(--giscus-bg-color);
  --color-fg: var(--giscus-text-color);
  --color-link: var(--giscus-link-color);
  --color-border: var(--giscus-border-color);
  --color-muted: var(--giscus-muted-color);
  --color-highlight: var(--giscus-highlight-color);
  --color-btn-bg: var(--giscus-button-bg-color);
  --color-btn-text: var(--giscus-button-text-color);
  --color-btn-bg-hover: var(--giscus-button-bg-color-hover);
  --color-btn-bg-active: var(--giscus-button-bg-color-active);
  --color-bg-hover: var(--giscus-bg-color-hover);
}

.gsc-reactions-count {
  display: block;
}

.gsc-timeline {
  flex-direction: column-reverse;
}

.gsc-header {
  padding-bottom: 1rem;
}

.gsc-comments > .gsc-header {
  order: 0;
}

.gsc-comments > .gsc-comment-box {
  margin-bottom: 1rem;
  order: 2;
}

.gsc-comments > .gsc-timeline {
  order: 3;
}

.gsc-homepage-bg {
  background-color: var(--giscus-bg-color);
}

.gsc-loading-image {
  background-image: url(https://github.githubassets.com/images/mona-loading-dimmed.gif);
}
