.sidebarLeft {
    display: block;
    padding-left :30px;
    padding-right :30px;
    text-overflow: ellipsis;
  }


.floatContainer{
  display: flex;
  flex-direction: column;
  height: 100vh;

  grid-template-rows: 250px 30px 500px 100px;
  position: sticky;
  left: 0px;
  top: 0px;
}

@media (max-width: 768px) {
  .sidebarLeft {
    display: none;
  }
}


@media (max-height: 500px) {
  .sidebarLeft {
    height: auto;
  }
}

.prevent-overflow {
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
}